<footer>
	<a href="https://creativecommons.org/licenses/" target="_blank">
        <img src="{{ SESSION['DIRECTORY'] }}/static/img/by-nc-sa-eu.png" alt="Jeu de Morpions"/>
    </a>
	<span><em>omg eve</em></span>
	<span>Serial Critique BDW - <a href="https://www.francebleu.fr/emissions/l-info-d-ici-a-7h30-ici-isere/c-etait-un-vrai-rayon-de-soleil-cinq-ans-apres-la-disparition-de-victorine-ses-proches-lui-rendent-hommage-3451863" target="_blank" alt="Page BDW">Page BDW</a> - UCB Lyon 1</span>
</footer>
